// @font-face declarations

@font-face {
    font-family: 'TradeGothic LT Light';
    src: url('../static/fonts/TradeGothicLT-Light.woff2') format('woff2'),
        url('../static/fonts/TradeGothicLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT Light';
    src: url('../static/fonts/TradeGothicLT-LightOblique.woff2') format('woff2'),
        url('../static/fonts/TradeGothicLT-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('../static/fonts/TradeGothicLT.woff2') format('woff2'),
        url('../static/fonts/TradeGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT Bold';
    src: url('../static/fonts/TradeGothicLT-Bold.woff2') format('woff2'),
        url('../static/fonts/TradeGothicLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
