// @font-face declarations

@font-face {
    font-family: 'TradeGothic LT Light';
    src: url('../static/fonts/TradeGothicLT-Light.woff2') format('woff2'),
        url('../static/fonts/TradeGothicLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT Light';
    src: url('../static/fonts/TradeGothicLT-LightOblique.woff2') format('woff2'),
        url('../static/fonts/TradeGothicLT-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('../static/fonts/TradeGothicLT.woff2') format('woff2'),
        url('../static/fonts/TradeGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothic LT Bold';
    src: url('../static/fonts/TradeGothicLT-Bold.woff2') format('woff2'),
        url('../static/fonts/TradeGothicLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Folio BQ Medium';
    src: url('../static/fonts/FolioBQ-Medium.woff2') format('woff2'),
        url('../static/fonts/FolioBQ-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Folio BQ Light';
    src: url('../static/fonts/FolioBQ-Light.woff2') format('woff2'),
        url('../static/fonts/FolioBQ-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Folio BQ Light Italic';
    src: url('../static/fonts/FolioBQ-LightItalic.woff2') format('woff2'),
        url('../static/fonts/FolioBQ-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Folio BQ Bold';
    src: url('../static/fonts/FolioBQ-Bold.woff2') format('woff2'),
        url('../static/fonts/FolioBQ-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
