@media screen and (min-width: 1366px)

  $gutter = 60px

  grid-maker(100%, $gutter, xl)

  // ******************************************************

  // PRIZE

  .prize-portrait
    height: calc('25vw - ' + $gutter)

  // ******************************************************

  // PRODUCT

  #cart
    transform: translateX(40vw)

  #cart-content
    width: 40vw
