@media screen and (min-width: 1366px)

  $gutter = 60px

  grid-maker(100%, $gutter, xl)

  // ******************************************************

  // PRIZE

  .prize-portrait
    height: calc('25vw - ' + $gutter)
