@media screen and (min-width: 1680px)

  grid-maker(100%)

  // ******************************************************

  // PRODUCT

  #cart
    transform: translateX(33.3333vw)

  #cart-content
    width: 33.3333vw
