$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 12px
$font-size-extra = 48px
$font-size-large = 36px
$font-size-mid = 24px
$font-size-small = 11px
$font-size-tiny = 8px

grid-maker(100%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

.grid-item-square
  min-height: 50vw

#main-content
  min-height: 100vh

.background-cover
  background-size: cover
  background-position: center

// ******************************************************

// CUBE

.cube-front, .cube-left, .cube-right
  position:absolute
  top:0
  bottom:0
  left:0
  right:0
  backface-visibility: hidden
  background-color: $color-black

.cube-left, .cube-right
  visibility: hidden

.cube-front
  visibility: visible

.cube-holder
  position:relative
  perspective: 0
  z-index: 0
  &.ready
    .cube-left, .cube-right
      visibility: visible

.cube-active
  z-index: 100

// ******************************************************

// HEADER

#header
  position: fixed
  bottom: 0
  left: 0
  z-index: 900
  background-color: $color-black
  width: 100%
  transition: opacity 500ms ease-in-out
  &.bottom
    position: absolute

#logo
  fill: $color-white
  height: 1.4em

#desktop-nav
  display: none

#mobile-nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  transform: translateX(100vw)
  &.active
    transform: translateX(0)

// ******************************************************

// FOOTER

#footer
  background-color: $color-white
  color: $color-black

.social-icon
  height: 1.5em
  margin-left: .5em

// ******************************************************

// VIDEOS

.covervid-wrapper
  position: relative

.height-s-33vw
  height: calc('100vw / 3')
  max-height: calc('100vw / 3')

// ******************************************************

// FRONTPAGE

#bottle-sprite
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden
  top: 0
  left: 0
  background-image: url('../img/bottle-sprite.png')
  background-position: 0% 0
  background-repeat: no-repeat
  background-size: 6000% 100%
  mix-blend-mode: difference

// ******************************************************

// RECIPES

.recipe-item
  min-height: 600px
  height: 33vw
  .cube-left
    cursor: pointer

// ******************************************************

// AGE CHECKER FORM

#age-overlay
  visibility: hidden
  pointer-events: none
  position: fixed
  width: 100vw
  height: 100vh
  top:0
  left:0
  z-index: 1000


#age-checker-form
  background-color: $color-black

button#submit-age
  background-color: $color-black
  color: $color-white
  border: none
  padding-top: 1rem

input
  background-color: $color-black
  color: $color-white
  padding: 1rem
  min-width: 4em
  text-align: center

input#birthday-year
  min-width: 5em

input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

body
  &.age-check
    #main-container
      filter: blur(50px)
    #age-overlay
      visibility: visible
      pointer-events: auto

// TRANSITION-CUBE
.next
  display: none

#transition-cube
  transition: transform 250ms ease-in-out

.transition-cube-side
  background-color: black

.loading
  overflow: hidden

  #header
    opacity: 0

  #transition-cube
    backface-visibility: hidden
    background-color: #000
    visibility: visible
    perspective: none
    position: relative
    z-index: 0
    height: 100vh

  .transition-cube-side
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    visibility: visible
    min-width: 100vw
    height: 100vh
    transition: transform 500ms ease-in-out
    transform: rotateY(-90deg) translateZ(50vw)
    overflow-y: hidden

  .next
    display: block
    transform: rotateY(90deg) translateZ(50vw)

.transition-cube-side.active
  transform: rotateY(0deg) translateZ(50vw)
