$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 12px
$font-size-extra = 48px
$font-size-large = 36px
$font-size-mid = 24px
$font-size-small = 11px
$font-size-tiny = 8px

grid-maker(100%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

.grid-item-square
  min-height: 50vw

#main-content
  min-height: 100vh

.background-cover
  background-size: cover
  background-position: center

// ******************************************************

// HEADER

#header
  position: fixed
  bottom: 0
  left: 0
  z-index: 900
  background-color: $color-black
  width: 100%
  &.bottom
    position: absolute

#logo
  fill: $color-white
  height: 1.4em

#desktop-nav
  display: none

#mobile-nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  transform: translateX(100vw)
  &.active
    transform: translateX(0)

// ******************************************************

// FOOTER

#footer
  background-color: $color-white
  color: $color-black

.social-icon
  height: 1.5em
  margin-left: .5em

// ******************************************************

// VIDEOS

.covervid-wrapper
  position: relative

.covervid-s-12
  height: calc('100vw / 3')
  max-height: calc('100vw / 3')

// ******************************************************

// FRONTPAGE

#bottle-sprite
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden
  top: 0
  left: 0
  background-image: url('../img/bottle-sprite.png')
  background-position: 0%
  background-repeat: no-repeat
  background-size: 6000% 100%
