$header-height = 109px
$nav-height = 30px
$footer-height = 84px

$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 12px
$font-size-extra = 28px
$font-size-large = 24px
$font-size-mid = 21px
$font-size-small = 11px
$font-size-tiny = 8px

grid-maker(100%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

.grid-item-square
  min-height: 100vw

#main-container
  transition: opacity 1000ms, filter 300ms
  filter: blur(0)
  transform-style: preserve-3d
  &.hide
    opacity: 0

.main-content
  min-height: 100vh

.content-wrapper
  min-height: calc('100vh - ' + ($footer-height + $nav-height))

.background-cover
  background-size: cover
  background-position: center

.background-repeat-x
  background-size: auto 100%
  background-repeat: repeat-x

.mobile-min-height
  min-height: 100vw

.text-max-width
  p, span, li
    max-width: 25em

// ******************************************************

// FORMS

button
  background-color: transparent
  color: $color-white
  border: none
  padding: 0
  appearance: none
  font-family: $font-medium
  font-weight: 400
  padding: 0 $margin-tiny
  cursor: pointer
  margin: 0 $margin-tiny
  &.button-no-padding
    padding: 0

input, select
  appearance: none
  background-color: $color-black
  color: $color-white
  padding: 1rem
  text-align: center
  border: 1px solid $color-white
  border-radius: 0
  font-weight: 300
  font-family: $font-sans
  &::placeholder
    color: $color-white
  &:focus
    outline: $color-white
    &::placeholder
      color: transparent

select
  text-align-last: center

input::-webkit-inner-spin-button
  margin: 0

// ******************************************************

// CUBE

.cube-front, .cube-left, .cube-right
  position:absolute
  top:0
  bottom:0
  left:0
  right:0
  backface-visibility: hidden
  background-color: $color-black

.cube-left, .cube-right
  visibility: hidden

.cube-front
  visibility: visible

.cube-holder
  position:relative
  perspective: 0
  z-index: 0
  &.ready
    .cube-left, .cube-right
      visibility: visible

.cube-active
  z-index: 100

#cube-background
  position: fixed
  z-index: -1
  top: 0
  left: 0
  width: 100vw
  height: 100vh

// ******************************************************

// HEADER

#header
  position: fixed
  bottom: 0
  left: 0
  background-color: $color-black
  width: 100%
  transition: opacity 500ms ease-in-out
  z-index: 1200

  &.bottom
    position: absolute

body.mobile-active
  #mobile-nav
    transform: translateY(0)
  #mobile-nav-trigger-borders
    height: 1px
    border-width: .5px 0

#logo
  fill: $color-white
  height: 1.4em

#desktop-nav
  display: none

#mobile-nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  z-index: 1100
  background-color: $color-black
  transform: translateY(100vh)
  transition: transform 300ms ease-in

#mobile-nav-list
  min-height: 100vh
  li
    width: 50%
    text-align: center

#mobile-nav-trigger
  height: 20px

#mobile-nav-trigger-borders
  border-width: 1px 0
  border-color: $color-white
  border-style: solid
  height: 8px
  width: 17px
  transition: height 300ms ease-in

#header-spacer
  height: $nav-height

// ******************************************************

// FOOTER

#footer
  background-color: $color-white
  color: $color-black

.social-icon
  height: 1.5em
  margin-left: .5em

// ******************************************************

// VIDEOS

.covervid-wrapper
  position: relative

.covervid-video
  visibility: hidden
  &.show
    visibility: visible

.height-s-33vw
  height: calc('100vw / 3')
  max-height: calc('100vw / 3')

// ******************************************************

// FRONTPAGE

#bottle-sprite
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden
  top: 0
  left: 0
  background-image: url('../img/bottle-sprite.jpg')
  background-position: 0% 0
  background-repeat: no-repeat
  // width = 100% * frames
  // this sheet has 100 frames
  background-size: 10000% 100%
  mix-blend-mode: difference

// ******************************************************

// RECIPES

.recipe-item
  min-height: 600px
  height: 33vw
  .cube-left
    cursor: pointer

// ******************************************************

// AGE CHECKER FORM

#age-overlay
  opacity: 0
  pointer-events: none
  position: fixed
  width: 100vw
  height: 100vh
  top:0
  left:0
  z-index: 1300

#age-checker-form
  background-color: $color-black
  input
    min-width: 4em

input#birthday-year
  min-width: 5em

body
  &.age-check
    #main-container
      filter: blur(50px)
    #age-overlay
      opacity: 1
      pointer-events: auto

.age-form-error
  color: $color-red

// TRANSITION-CUBE
.active
  z-index: 900
.next
  display: none

#transition-cube
  transition: transform 250ms ease-in-out
  transform: scale(1)

.transition-cube-side
  background-color: black

.loading

  #transition-cube
    backface-visibility: hidden
    background-color: #000
    visibility: visible
    perspective: none
    position: relative
    z-index: 0
    height: calc('100vh - ' + $nav-height)

  .transition-cube-side
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    visibility: visible
    min-width: 100vw
    height: calc('100vh - ' + $nav-height)
    transition: transform 500ms ease-in-out
    transform: rotateY(-90deg) translateZ(50vw)
    overflow-y: hidden

  .transition-content-absolute
    position: absolute
    width: 100%

  .next
    display: block
    transform: rotateY(90deg) translateZ(50vw)

  .cube-left, .cube-right
    transition: none !important
    transform: rotateY(0deg) translateZ(0px) !important
    visibility: hidden !important
    &.cube-front
      visibility: visible !important

.transition-cube-side.active
  transform: rotateY(0deg) translateZ(50vw)

// ******************************************************

// PRODUCT

.archive-product-item
  height: 75vw

.archive-product-lookbook-item
  height: 150vw

#slick-carousel
  overflow: hidden

#slick-carousel,
.slick-list,
.slick-track,
.slick-slide
  height: calc('100vh - ' + ($nav-height + $header-height))

.slick-slide
  cursor: pointer
  width: auto
  &:focus
    outline: none

#cart
  position: fixed
  top: 0
  right: 0
  height: 100vh
  width: 100vw
  background-color: $color-black
  transform: translateX(100vw)
  transition: transform 300ms ease-in
  &.active
    transform: translateX(0vw)

#cart-close
  position: relative
  height: $margin-small
  width: $margin-small
  cursor: pointer
  &:before,
  &:after
    content: ''
    width: 100%
    height: 0px
    border-top: 2px solid $color-white
    position: absolute
    top: 50%
    left: 0
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)

.cart-item-quantity
  border-width: 0 0 1px 0
  width: 1.5em
  padding: 0
  text-align: left

// ******************************************************

// PRIZE

.prize-portrait
  height: calc('100vw - ' + $gutter)
