@media screen and (min-width: 1024px)

  $header-height = 41px

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  grid-maker(100%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  .desktop-only
    display: initial !important

  // ******************************************************

  // FORMS

  button
    padding: 0 $margin-tiny

  input
    margin: 0 $margin-micro

  // ******************************************************

  // HEADER

  #header-spacer
    height: $header-height

  // ******************************************************

  // AGE CHECKER FORM

  .loading

    #transition-cube
      height: calc('100vh - ' + $header-height)

    .transition-cube-side
      height: calc('100vh - ' + $header-height)
