@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 14px
  $font-size-extra = 48px
  $font-size-large = 36px
  $font-size-mid = 24px
  $font-size-small = 13px
  $font-size-tiny = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(100%, $gutter, m)

  font-sizes($font-size-basic)

  .mobile-only
    display: none !important

  .grid-item-square
    min-height: 50vw

  .mobile-min-height
    min-height: 0

  // ******************************************************

  // FORMS

  button
    padding: 0 $margin-tiny

  input
    margin: 0 $margin-micro

  // ******************************************************

  // HEADER

  #mobile-nav-trigger-holder
    display: none

  #desktop-nav
    display: block

  #mobile-nav
    transform: translateX(100vw)
    &.active
      transform: translateX(100vw)

  #header-spacer-desktop
    display: block

  #header-spacer-mobile
    display: none

  // ******************************************************

  // VIDEOS

  .height-m-16vw
    height: calc('50vw / 3')
    max-height: calc('50vw / 3')

  .height-m-28vw
    height: 28vw
    max-height: 28vw
