@media screen and (min-width: 720px)
  $header-height = 152.5px
  $nav-height = 39px
  $footer-height = 37px

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 12px
  $font-size-extra = 36px
  $font-size-large = 28px
  $font-size-mid = 21px
  $font-size-small = 12px
  $font-size-tiny = 9px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(100%, $gutter, m)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .mobile-only
    display: none !important

  .grid-item-square
    min-height: 50vw

  .mobile-min-height
    min-height: 0

  .content-wrapper
    min-height: calc('100vh - ' + ($footer-height + $nav-height))

  // ******************************************************

  // FORMS

  button
    padding: $margin-tiny 0
    &.button-side-margin
      margin: 0 $margin-tiny

  // ******************************************************

  // HEADER

  #mobile-nav-trigger-holder
    display: none

  #desktop-nav
    display: block

  #mobile-nav
    transition: none
    transform: translateX(100vw)
    &.active
      transform: translateX(100vw)

  #header-spacer
    height: $nav-height

  // ******************************************************

  // VIDEOS

  .height-m-16vw
    height: calc('50vw / 3')
    max-height: calc('50vw / 3')

  .height-m-28vw
    height: 28vw
    max-height: 28vw

  // ******************************************************

  // CUBE

  .loading

    #transition-cube
      height: calc('100vh - ' + $nav-height)

    .transition-cube-side
      height: calc('100vh - ' + $nav-height)

  // ******************************************************

  // MAILING LIST

  #mailinglist-full-title
    text-align: right

  // ******************************************************

  // PRODUCT

  .archive-product-item
    height: 37.5vw

  .archive-product-lookbook-item
    height: 75vw

  #slick-carousel,
  .slick-list,
  .slick-track,
  .slick-slide
    height: calc('100vh - ' + $header-height)

  #cart
    transform: translateX(70vw)

  #cart-content
    width: 70vw

  #cart-close
    height: $margin-small
    width: $margin-small

  // ******************************************************

  // PRIZE

  .prize-portrait
    height: calc('33.333vw - ' + $gutter)
